<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISAAC</title>
</head>
<body>
    <nav>
        <a href="">Isaac Oliveira</a>
        <a href="">Projects</a>
        <a href="">About</a>
    </nav>
    <section>
        <h1>Hello, World! It's me, Isaac!</h1>
        <p>
            I’m a junior full stack developer
             who loves a challenge!
             If you need some help on a project, 
             feel free to reach me out!
        </p>
        <p>
            Here you’ll find projects about
             social networks,weather, finance, 
             etc. Maybe one of my apps will even
              suit you! Every coder is a explorer,
               so go on!
        </p>
    </section>
    <aside>
        <img src="../assets/" alt="Pic of me in a blue frame">
    </aside>
    <footer>Copyright, 2024</footer>
</body>
</html> 